<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8"/>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col">
					<h3>Dicas</h3>
					<ul>
						<li>
							<p>Antes de cadastrar o servidor, cadastre a lotação onde ele trabalha caso ela ainda não tenha sido cadastrada.</p>
						</li>
						<li>
							<p>Você pode Listar todos os servidores por nome, matricula e data de cadastro no menu de listar.</p>
						</li>
						<li>
							<p>Você pode Listar todos os servidores por nome, descricao e data de cadastro no menu de listar.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</section>
</body>
</html>